<div class="topbar">

  <div class="topbar-inner">
    <!-- LOGO -->
    <div class="topbar-left text-center text-lg-left">
      <h5 class="text-white d-inline-block">Wage Receipts Splitter</h5>
    </div>
    <!--end logo-->
    <div class="navbar-custom-menu">
      <div id="navigation">
        <!-- Navigation Menu-->
        <ul class="navigation-menu">

          <li class="has-submenu" routerLinkActive="active">
            <a routerLink="/home">Home</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- Navbar -->

  </div>
</div>
